.main-pre-header {
  background-color: #818080;
  text-align: center;
  span {
    display: inline-block;
    padding: 10px 24px;
    color: #c7c7c7;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.pre-header_email {
  text-decoration: underline;
}

.pre-header_call {
  color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
  &:hover {
    color: #c7c7c7;
    text-decoration: none;
  }
}

.main-header {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.61);
  background-image: linear-gradient(to top, #818080 0%, #b8b8b8 50%, #818080 100%);
}

.main-header__logo {
  max-width: 100%;
}

.home-welcome {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #929292;
  background-image: url('../images/home_top.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 0 0 3px black;
  .home-welcome__title {
    display: block;
    margin-bottom: 15px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
  }
  p {
    color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  a {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 24px;
    background-image: linear-gradient(to top, #929292 0%, #d5d5d5 100%);
    border-radius: 3px;
    color: white;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    transition: all 0.1s ease-out;
    span {
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 12px;
      border-radius: 3px;
      transition: all 0.1s ease-out;
      img {
        transition: all 0.1s ease-out;
      }
    }
    &:hover {
      background-image: linear-gradient(to top, #929292 0%, #929292 100%);
      text-decoration: none;
      span {
        background-color: #929292;
        img {
          transform: translateX(-15px);
        }
      }
    }
  }
}

.home-about {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #fdfdfd;
  background-image: url('../images/home_about.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  span {
    display: inline-block;
    margin-bottom: 30px;
    color: #292929;
    font-family: Verdana;
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;
  }
  p {
    font-family: Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #292929;
    text-align: justify;
  }
  a {
    display: inline-block;
    margin-top: 10px;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #ae7f63;
    text-decoration: underline;
    transition: all 0.1s ease-out;
    &:hover {
      color: #292929;
      text-decoration: none;
    }
  }
}

.home-features {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.home-features__title {
  display: block;
  margin-bottom: 40px;
  text-align: center;
  color: #292929;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.home-features__cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.home-features__card {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 280px;
  margin: 6px;
  span {
    display: block;
    position: absolute;
    width: 280px;
    padding-top: 50px;
    /*margin-top: 100px;*/
    left: 0;
    bottom: 0;
    height: 110px;
    padding-bottom: 16px;
    text-align: center;
    color: white;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }
  img {
    transition: all 0.2s ease-out;
  }
  &:hover {
    img {
      -webkit-filter: brightness(50%);
    }
  }
}

/*@-moz-document url-prefix() {
  .home-features__card {
    span {
      margin-left: -280px;
    }
  }
}

@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
  .home-features__card {
    span {
      margin-left: -280px;
    }
  }
}*/

.main-recall {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #152129;
  background-image: url('../images/main_recall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  span {
    display: block;
    margin-bottom: 30px;
    color: white;
    font-family: Verdana;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }
  a {
    display: inline-block;
    padding: 26px 46px;
    background-color: #2ba5f7;
    background-image: linear-gradient(to top, #929292 0%, #d5d5d5 100%);
    border-radius: 3px;
    color: #fefefe;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.1s ease-out;
    &:hover {
      background-image: linear-gradient(to top, #d5d5d5 0%, #929292 100%);
      text-decoration: none;
    }
  }
}

.home-why {
  padding-top: 70px;
  padding-bottom: 70px;
}

.home-why__title {
  display: block;
  margin-bottom: 45px;
  color: #292929;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.home-why__card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column nowrap;
  span {
    display: block;
    margin-top: 20px;
    color: #595959;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
  }
  img {
    width: 62px;
  }
}

.home-reviews {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f2f2f2;
  background-image: radial-gradient(circle 269px at center, white 0%, #c3c3c3 99%, #c3c3c3 100%);
  text-align: center;
}

.home-reviews__title {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  color: #292929;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

#owl-reviews {
  .item {
    max-width: 780px;
    margin: 0px auto;
  }
}

.owl-review {
  text-align: center;
  background-image: url('../images/home_review.png');
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  p {
    color: #292929;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
  }
  span {
    display: block;
    margin-top: 15px;
    color: #4e4e4e;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}

.home-history {
  padding-top: 70px;
  padding-bottom: 35px;
}

.home-history__title {
  display: block;
  margin-bottom: 35px;
  color: #292929;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.home-history__block {
  margin-bottom: 35px;
  padding: 34px 45px;
  border: 1px solid #8e8e8e;
  border-radius: 3px;
  span {
    color: #292929;
    font-family: Verdana;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
  }
  ul {
    padding: 0;
    list-style: none;
    color: #292929;
    font-family: Verdana;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
  }
}

.home-history_left-padding {
  padding-left: 40px;
}

.home-seo {
  padding-top: 70px;
  padding-bottom: 70px;
  background: url('../images/home_seo.png');
  background-color: #fafafa;
  background-position-x: right;
  background-position-y: center;
  background-size: 40% auto;
  background-repeat: no-repeat;
  color: #595959;
  font-family: Verdana;
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin-top: 30px;
    font-weight: 700;
  }
  h4 {
    text-transform: uppercase;
  }
}

.home-seo__title {
  display: block;
  margin-bottom: 30px;
  color: #595959;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 400;
  line-height: 22px;
}

.main-footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #2f2f2f;
  text-align: center;
}

.main-footer__nav {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    a {
      display: block;
      margin-left: 5px;
      margin-right: 5px;
      color: #969696;
      font-family: Verdana;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
      transition: all 0.1s ease-out;
      &:hover {
        color: #fefefe;
        text-decoration: none;
      }
    }
  }
}

.main-footer__vk {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-footer__creators {
  font-family: Verdana;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #7c7c7c;
  a {
    color: #a94930;
    text-decoration: none;
    transition: all 0.1s ease-out;
    &:hover {
      color: #fefefe;
      text-decoration: none;
    }
  }
}

.main-content {
  padding-top: 50px;
  padding-bottom: 140px;
}

.main-breadcrump {
  display: block;
  margin-bottom: 30px;
  padding-left: 15px;
  color: #292929;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  a {
    color: #292929;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #4e4e4e;
    }
  }
  span {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.main-sidebar {
  padding: 28px 26px;
  background-color: #e8e8e8;
  border-radius: 3px;
  ul {
    padding: 0;
    li {
      a {
        color: #292929;
        font-family: Verdana;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }
}

.sidebar__title {
  display: block;
  margin-bottom: 15px;
  color: #292929;
  font-family: Verdana;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.main-content__title {
  display: block;
  margin-bottom: 30px;
  color: #292929;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.main-content_padding {
  padding-left: 15px;
}

.features-features__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .home-features__card {
    margin: 2px;
  }
}

.feature-article {
  color: #595959;
  font-family: Verdana;
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  h4 {
    text-transform: uppercase;
  }
  ul {
    padding-left: 20px;
  }
}

.feature-article__full-image {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.news-card {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 60px;
  transition: all 0.1s ease-out;
  div {
    img {
      min-width: 198px;
      max-width: 100%;
    }
  }
  &:hover {
    text-decoration: none;
    span {
      color: #2ba5f7;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.news-card__description {
  padding-left: 20px;
  span {
    display: block;
    margin-bottom: 10px;
    color: #486370;
    font-family: Verdana;
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.2s ease-out;
  }
  p {
    color: #595959;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

.reviews-card {
  padding: 30px 28px;
  margin-bottom: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  span {
    display: block;
    margin-bottom: 10px;
    color: #3f4040;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }
  p {
    color: #595959;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

.main-sidebar__drop {
  margin: 0;
  padding: 0;
  padding-left: 20px !important;
}

.main-content_paddng {
  padding-bottom: 60px;
}