@media (max-width: 1200px) {

  

}

@media (max-width: 992px) {

  .nav > li > a {
    padding: 10px 5px;
    font-size: 11px;
  }

  .main-pre-header span {
    font-size: 11px;
    padding: 10px 10px;
  }

}

@media (max-width: 768px) {

  .main-pre-header span {
    padding: 5px;
  }

  .main-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav > li {
    text-align: center;
  }

  .home-welcome {
    padding: 30px 15px;
  }

  .home-welcome .home-welcome__title {
    font-size: 28px;
  }

  .home-welcome a {
    margin-top: 10px;
  }

  .home-about {
    padding: 30px 15px;
  }

  .home-features {
    padding: 30px 15px;
  }

  .main-recall {
    padding: 30px 15px;
  }

  .main-recall span {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .main-recall a {
    padding: 14px 22px;
    font-size: 18px;
  }

  .home-why {
    padding: 30px 15px;
  }

  .home-why__title {
    margin-bottom: 20px;
  }

  .home-why__card {
    margin-bottom: 10px;
  }

  .home-why__card span {
    margin-top: 5px;
  }

  .home-reviews {
    padding: 30px 15px;
  }

  .home-history {
    padding: 30px 15px 15px;
  }

  .home-history__block {
    margin-bottom: 15px;
    padding: 15px;
  }

  .home-history_left-padding {
    padding-left: 15px;
  }

  .home-seo {
    padding: 30px 15px;
    background-image: none;
  }

  .main-footer {
    padding: 30px 15px;
  }

  .features-features__cards {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .main-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .main-content__title {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .news-card {
    flex-flow: column wrap;
    margin-bottom: 15px;
  }

  .news-card__description {
    padding-left: 0;
    span {
      margin-top: 10px;
    }
  }

  .main-content_padding {
    padding-right: 15px;
  }

}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}