.nav>li>a {
  color: #434343;
  font-family: Verdana;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
  &:hover,
  &:active,
  &:focus {
    color: #292929;
    background-color: transparent;
  }
}

.owl-theme .owl-controls .owl-buttons div {
  padding: 0;
  background: transparent;
  opacity: 0.7;
  transition: all 0.2s ease-out;
  &:hover {
    transform: scale(1.2);
  }
}

#owl-seo {
  .owl-controls {
    text-align: left !important;
  }
}